* {
    padding: 0;
    margin: 0;
}
:root {
    color: rgb(0, 0, 20);
    /* #e69696;*/
}

nav {
    height: 100%; 
    display: flex;
    align-items: center;
}
nav > * {
    padding: 0 10px;
}

#outergrid {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 3fr;
    grid-template-rows: 5vh 50vh 45vh;
}

body > header,
body > div
{
    border: 1px solid black;
}

header {
    grid-row: 1;
    grid-column: 1/3;
}

.red {
    color: red;
}

#cal-container {
    grid-column: 2/3;
    grid-row: 2/4;
    display: grid;
    grid-template-rows: 5vh 1fr;
    grid-template-columns: 3fr 1fr 1fr;

    overflow-y: scroll;
    overflow-x: hidden;

}

#CategoryView {
    grid-column: 1/2;
    grid-row: 3/4;
}

#groupView {
    grid-column: 1/2;
    grid-row: 2/3;
}

#cal-table {
    border-collapse: collapse;
    width: 100%;
    grid-column: 1/4;
}
#cal-table td, #cal-table th {
    width: calc(100%/7);
}
#cal-table td {
    vertical-align: top;
}
#cal-table thead tr
{
    height: 5vh;
}
#cal-table th {
    height: 5vh;
    vertical-align: bottom;
}
#cal-table td {
    border: 1px solid black;
}

tr {
    height: 18vh;
}

input:not([type = "radio"]) {
    border: none;
    border-bottom: 1px solid black;
    margin: 10px;
    margin-left: 0px;
}
textarea {
    border: 1px solid black;
    height: 75px;
    width: 300px;
    margin: 10px;
    margin-left: 0px;
}
select {
    border: none;
    border-bottom: 1px solid black;
    margin: 10px;
    margin-left: 0px;
}
form#jobform {
    border: 1px solid black;
    padding: 10px;
    width: 300px;
}

#CategoryView, #groupView
{
    padding: 0 1em 0 1em;
    overflow-y: scroll;
    background: hsla(120, 12%, 97%, 0.40);
}

h2 {
    text-align: center;
}
ul, ol {
    margin: 0 0 0 1.5em;
}

.surround {
    display:flex;
    margin: 0 .1em .1em .1em;
    align-items: flex-start;
}

.job {
    display: flex;
    width: 100%;
}

.surround a {

    justify-self: flex-end;
    font-size: 1em;
    color: red;
    text-decoration: none;
    font-weight: bold;
}

.job:hover, .job:active {
    outline: dashed rgb(48, 13, 223) 2px;
}

.info, .todo, .deadline, .event {
    display: flex;
    flex: 0 0 1.3em;
    margin-right: .2em;
    font-style: normal;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(0, 0, 255, .50);
    color:rgb(255, 255, 255);
    width: 1.3em;
    height: 1.3em;
    font-weight: bold;
    font-family: sans-serif;
}

.groupDelete {
    background-color: #dd5959; 
    color: black;
    padding: .2em .5em;
    align-self: flex-start;
}

.groupLeave, .kickUser, .decline {
    background-color: #dd5959;
    margin-left: auto;
    color: black;
    padding: .2em .5em;
    align-self: flex-start;
}

.accept {
    background-color: #5ddd59;
    margin-left: auto;
    color: black;
    padding: .2em .5em;
    align-self: flex-start;
}

.invite {
    margin-left: auto;
    color: black;
    padding: .2em .5em;
    align-self: flex-start;
}

.groups {
    display: flex;
     border-bottom: 1px solid rgb(14, 13, 13);
      width: 100%;
}
.autumn {
    background-image: url("/css/flower.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.autumn input, .autumn select, .autumn button{
    background-image: url("/css/flower.jpg");
    background-position: right middle, left bottom;
    background-repeat: no-repeat, repeat;
    border: 1px solid rgb(232, 232, 238);
    box-sizing: border-box;
}
.spring {
    background-image: url("/css/Summer.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
.spring input, .spring select, .spring button{
    background-image: url("/css/Summer.webp");
    background-position: right bottom, left middle;
    background-repeat: no-repeat, repeat;
    border: 1px solid rgb(232, 232, 238);
    box-sizing: border-box;
}
.summer {
    background-image: url("/css/watercolour.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
.summer input, .summer select, .summer button{
    background-image: url("/css/watercolour.webp");
    background-position: right middle, left bottom;
    background-repeat: no-repeat, repeat;
    border: 1px solid rgb(232, 232, 238);
    box-sizing: border-box;
}
.winter{
    background-image: url("/css/Winter.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.winter input, .winter select, .winter button{
    background-image: url("/css/Winter.jpg");
    background-position: right middle, left bottom;
    background-repeat: no-repeat, repeat;
    border: 1px solid rgb(232, 232, 238);
    box-sizing: border-box;
}


.winter .day{
    background: hsla(120, 12%, 97%, 0.75);
}
.summer .day{
    background: hsla(120, 12%, 97%, 0.75);
}
.spring .day{
    background:  hsla(120, 12%, 97%, 0.75);
}
.autumn .day{
    background: hsla(120, 12%, 97%, 0.75);
}
