* {
    padding: 0;
    margin: 0;
}
:root {
    color: darkblue;
    background: #e8e8e8;
}

nav {
    display: flex;
}
nav > * {
    padding: 10px;
}

#cal-table {
    width: 100%;
}
#cal-table tr, #cal-table th {
    width: calc(100%/7);
}